<div class="max-w-5xl mx-auto mt-4 lg:p-12 p-4 grid grid-cols-1 lg:grid-cols-12 gap-x-12 gap-y-4 relative z-20">
  <div class="lg:col-span-12 text-center">
    <div class="flex justify-center mb-6">
      <%= image_tag("logo.jpg", size: '100') %>
    </div>
    <p class="leading-snug text-gray-700 text-lg max-w-3xl mx-auto pb-6">Cosmetic Store</p>
  </div>

  <%= line_chart @stock_data %>
</div>
