<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between mb-6 flex-wrap">
    <h1 class="font-bold text-3xl mb-6">Edit customer</h1>
    <% if @customer.persisted? %>
    <%= button_to 'Delete customer', @customer, method: :delete, style: "background-color: black; color: white; padding: 0.5rem 1rem; border-radius: 0.25rem;", data: { turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <%= render 'form', customer: @customer %>
</div>
